<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>Search for posts</h1>
        <form method="get">
            {{ form.as_p }}
            <input class="btn btn-primary my-1" type="submit" value="Search">
        </form>
    </div>

    {% if results %}
        <div class="album py-5 bg-light">
            <div class="container">

            {% if q %}
                <p>
                {% with results.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}
                </p>
            {% endif %}

                <div class="row">
                    {% for post in results %}
                    <div class="col-md-4">
                        <a class="text-dark" href="">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h2 style="font-size:15px;font-weight:bold">{{post.title|truncatechars:50}}</h2>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{{post.authors}}</small>
{#                                         <small class="text-muted">{{post.headline | safe}}</small>#}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <p>There are no results for your query.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

</body>
</html>